body { 
	font-family: Calibri; 
	font-size: 15px; 
	margin: 30px; 
}

.content { 
	position: relative; 
}
.game-over { 
	display: none; 
	margin: 0 auto; 
	width: 900px; 
	text-align: center; 
	color: #f44336; 
	font-size: 21px; 
	font-weight: bold; 
}

#field { 
	width: 900px; 
	margin: 0 auto; 
}
.field-line { 
	height: 75px; 
	background-color: #4caf50; 
	position: relative; 
}

.buttons { 
	width: 900px; 
	margin: 0 auto; 
	margin-top: 5px; 
}
.button { 
	display: inline-block; 
	border: 1px solid #eee; 
	padding: 5px 10px; 
	margin-bottom: 5px; 
	cursor: pointer; 
	text-align: center; 
}
.button#btnPlayGame { 
	background-color: #4EEE94; 
}
.button#btnSlowUp {
	background-color: #ADFF2F;
}
.button#btnGrowOld {
	background-color: #FF9800;
}
.button#btnExplode {
	background-color: #FF6347;
}

.zombie { 
	position: absolute; 
	top: 0; 
	right: 0; 
}
.zombie .health {
	height: 5px;
	width: 80%;
	margin: 1px 10% auto 10%;
	background: #FFFACD;
}
.zombie .health .left {
	height: 100%;
	width: 100%;
	background: #B22222;
}
.zombie.michael { 
	width: 46px; 
	height: 69px; 
	background-image: url(../images/michael.gif); 
	background-size: cover; 
}
.zombie.strong { 
	width: 60px; 
	height: 73px; 
	background-image: url(../images/strong.gif); 
	background-size: cover; 
}