.container {
	background: #EEE9E9;
	border: 2px solid #C0C0C0;
	border-radius: 5px;
	box-shadow: 0 0 10px #C0C0C0;
	width: 1000px;
	height: 460px;
	margin: 50px auto;
}

button.start,button.stop {
	border: 1px solid #008B00;
	border-radius: 3px;
	width: 10%;
	margin: 10px 1% 10px 89%;
	padding: 3px;
	font-family: verdana;
	font-size: 14px;
	cursor: pointer;
}

button.start {
	background: #00CD00;
	color: white;
}

button.stop {
	background: #FFEC8B;
	color: #008B00;
}

.content {
	width: 800px;
	height: 402px;
	margin: auto;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
}

.content .resources {
	float: left;
	width: 114px;
	height: 369px;
	padding: 3px;
}

.content .resources .resource-box {
    width: 112px;
    height: 112px;
	margin: auto;
	border: 1px solid #C0C0C0;
}

.content .resources .resource-box:nth-child(1) {
    margin-bottom: 168px;
}

.content .resources .resource-box p {
	margin: 0;
	height: 20px;
	padding: 3px;
	text-align: center;
}

.content .resources .resource-box .resource {
	margin: 10px auto 0 auto;
}

.content .field-container {
	float: left;
	height: 396px;
	width: 560px;
	margin: 3px auto;
}

.content .resource-field {
	width: 558px;
	height: 394px;
	margin: auto;
	border: 1px solid #C0C0C0;
	position: relative;
}

.resource-field .resource {
	cursor: pointer;
	position: absolute;
}

.resource {
	width: 76px;
	height: 76px;
}

.resource.cheese {
	background: url(../images/cheese.png) no-repeat;
	background-size: 100% auto;
}

.resource.orange {
	background: url(../images/orange.png) no-repeat;
	background-size: 100% auto;
}

.resource.cherry {
	background: url(../images/cherry.png) no-repeat;
	background-size: 100% auto;
}

.resource.pumpkin {
	background: url(../images/pumpkin.png) no-repeat;
	background-size: 100% auto;
}

.resource.bomb {
	background: url(../images/bomb.png) no-repeat;
	background-size: 100% auto;
	cursor: default;
}